// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.
// Color system
// scss-docs-start gray-color-variables
$white: #faf5ec;
$gray-100: #e1ddd4;
$gray-200: #c8c4bd;
$gray-300: #afaca5;
$gray-400: #96938e;
$gray-500: #7d7b76;
$gray-600: #64625e;
$gray-700: #4b4947;
$gray-800: #32312f;
$gray-900: #191818;
$black: #090909;
$default-white: #fff;
$default-black: #000;
// scss-docs-start color-variables
$blue: #0079ce;
$indigo: #596bcf;
$purple: #7B75B0;
$pink: #ff8598;
$red: #dc3545;
$orange: #faaa50;
$yellow: #ffc107;
$green: #2d9019;
$teal: #00917A;
$cyan: #92E1EA;
// scss-docs-start theme-color-variables
$primary: $red;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
// Settings for the `<body>` element.
$body-bg: $default-white;
$body-color: $black;
// Navbar
$navbar-light-color: $light;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-padding-y: 10px;
// Border radius
$border-radius: .375rem;
$border-radius-sm: .25rem;
$border-radius-lg: .5rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;
// Checkboxes
$form-check-input-border-radius: .25em;
// Style anchor elements.
$link-decoration: underline;
$link-hover-decoration: null;
// Fonts
$font-family-sans-serif: acumin-pro,
system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-heading: americane,
acumin-pro,
system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;
$headings-font-family: null;
$headings-font-weight: 500;
$display-font-weight: 300;