/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass
// Change body color
body {
    background-color: $dark;
}

// Header logo styling
ul.main-nav-link>li>a {
    font-size: 1.1rem;
    letter-spacing: 0.7px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0px 5px 0px 5px;
}

ul.main-nav-link>*>.dropdown-menu {
    letter-spacing: 0.7px;
    font-weight: 300;
    text-transform: uppercase;
}

// Header container
@media (min-width: 1200px) {
    .header-container {
        max-width: 1000px;
    }
}

// Footer styling
#footer-menu li a {
    font-size: 0.875em;
    padding: 0.2rem 0.5rem 0rem 0.5rem;
    color: $light;
}

#footer-menu li a:hover {
    color: $primary;
}

.footer-text {
    line-height: 1.25;
}

.footer_widget>div>ul>li.menu-item>a,
.footer-copyright-link {
    color: $light;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.footer_widget>div>ul>li.menu-item>a:hover,
.footer-copyright-link:hover {
    color: $primary;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}