/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass
// Font changes
h1,
.h1 {
    font-family: $font-family-heading;
    font-weight: 700;
    font-style: normal;
}

h2,
.h2 {
    font-family: $font-family-heading;
    font-weight: 700;
    font-style: normal;
}

h3,
.h3 {
    font-style: normal;
}

h4,
.h4 {
    font-style: normal;
}

h5,
.h5 {
    font-style: normal;
}

h6,
.h6 {
    font-style: normal;
}

// Header logo styling
.logo {
    width: auto;
    height: $navbar-brand-height;
}

// Header container
@media (min-width: 1200px) {
    .header-container {
        max-width: 1000px;
    }
}

// Gutenberg Buttons
.wp-block-button {
    @extend .btn;
    .wp-block-button__link {
        @extend .btn-primary;
    }
}