/*
 Theme Name:   bootScore Child
 Description:  bootScore Child Theme
 Author:       bootScore
 Author URI:   https://bootscore.me
 Template:     bootscore-main
 Version:      5.1.3.1
 Text Domain:  bootscore
*/

/* 
All style editing is done via css/scss/_bscore_custom.scss
*/
